.header {
  .navbar {
    background: #2d3035;
    border-bottom: 1px solid #34373d;
    color: #8a8d93;
    padding: 20px 20px;
    .logo {
      span {
        text-transform: uppercase;
        font-weight: 800;
        &:nth-child(1) {
          color: #DB6574;
        }
      }
    }
  }
}