.page-wrapper {
  height: max-content;
  .page-container {
    position: relative;
    background: #22252a;
    width: calc(100% - 200px);
    padding: 0;
    .page-header {
      padding: 30px 30px;
      background: #2d3035;
      color: #8a8d93;
      margin: 0 auto;
      border-bottom: 1px solid #34373d;
    }
    .page-content {
      .table-container {
        padding: 20px;
        .table {
          width: 100%;
          padding: 20px;
          background: #2d3035;
          color: #8a8d93;
          margin: 0 auto;
          border-radius: 5px;
          th {
            padding: 25px 20px;
            vertical-align: middle;
          }
          td {
            padding: 20px;
          }
          thead {
            tr {
              th {
                white-space: nowrap;
                &:first-child {
                  width: 50px;
                  text-align: start;
                }
                &:nth-child(2) {
                  text-align: start;
                }
                &:nth-child(3) {
                  text-align: start;
                }
                &:last-child {
                  text-align: end;
                }
              }
            }
          }
          tbody {
            tr {
              td {
                border-top: 1px solid #dee2e6;
                &:first-child {
                  width: 50px;
                }
                &:last-child {
                  text-align: end;
                }
              }
            }
          }
        }
      }
    }
  }
}
