#sidebar {
  min-height: calc(100vh - 59px);
  display: block;
  width: 200px;
  background: #2d3035;
  color: #6a6c70;
  border-right: 1px solid #34373d;
  .sidebar-header {
    color: #8a8d93;
    padding: 30px 20px;
    border-bottom: 1px solid #34373d;
  }
  ul {
    li {
      a {
        padding: 18px 20px;
        display: block;
        font-weight: 400;
        cursor: pointer;
        transition: all .3s ease-in-out;
        &:hover {
          background: #34373d;
          color: #bfc1c4;
        }
      }
    }
  }
}

.active-nav {
  background: #34373d;
  color: #bfc1c4;
}