html {
    font: 16px/1.4 normal Calibri, Tahoma, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    margin: 0;
    padding: 15px;
}

.text-center {
    text-align: center;
}

.btn {
    border-radius: 5px;
    background-color: #084;
    color: #fff;
    border: none;
    padding: 10px 30px;
    font-size: 18px;
}

.btn[disabled] {
    background-color: #888;
}

.hall-container {
    margin: 50px auto;
    display: block;
    width: 992px;
    padding: 0 10px;
}

.hall-sears-row-number {
    position: absolute;
    left: -75px;
    font-family: 'Courier New', Courier, monospace;
    color: #999;
    line-height: 30px;
}

.hall-screen {
    background-color: #2e2e2e;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    padding: 2px;
    margin-bottom: 60px;
    font-family: 'Courier New', Courier, monospace;
}

.hall-row {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hall-seats-group {
    display: inline-block;
}

.hall-seat {
    background-color: #2e2e2e;
    border-radius: 3px;
    width: 26px;
    height: 20px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #999;
    cursor: pointer;
    margin: 5px 0;
}

.hall-seat.reserved,
.hall-seat.reserved:hover {
    background-color: transparent;
    color: transparent;
}

.hall-seat:hover {
    color: #ddd;
    background-color: #3e3e3e;
}

.hall-seat.active {
    color: #fff;
    background-color: #084;
}

.order-container {
    width: 992px;
    max-width: 90%;
    margin: 0 auto;
    text-align: center;
}

.phone {
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
}

.session-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.session-ul li {
    display: inline;
}

.session-ul li:not(:last-child)::after {
    content: ', ';
}

.session-ul {
    display: inline-block;
}