html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html, body {
  height: 100%;
  background: #22252a;
}

body {
  font-family: sans-serif;
  line-height: 1.15;
}

a {
  text-decoration: none;
  color: #bfc1c4;
}

.h-100 {
  height: 100%;
}

.d-flex {
  display: flex;
}

.direction-row {
  flex-direction: row;
}

.direction-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-3 {
  margin-top: 1rem;
}

.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 0.25rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

.header .navbar {
  background: #2d3035;
  border-bottom: 1px solid #34373d;
  color: #8a8d93;
  padding: 20px 20px;
}
.header .navbar .logo span {
  text-transform: uppercase;
  font-weight: 800;
}
.header .navbar .logo span:nth-child(1) {
  color: #DB6574;
}

#sidebar {
  min-height: calc(100vh - 59px);
  display: block;
  width: 200px;
  background: #2d3035;
  color: #6a6c70;
  border-right: 1px solid #34373d;
}
#sidebar .sidebar-header {
  color: #8a8d93;
  padding: 30px 20px;
  border-bottom: 1px solid #34373d;
}
#sidebar ul li a {
  padding: 18px 20px;
  display: block;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#sidebar ul li a:hover {
  background: #34373d;
  color: #bfc1c4;
}

.active-nav {
  background: #34373d;
  color: #bfc1c4;
}

#footer {
  background: #496f98;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
}
#footer .footer {
  max-width: 1140px;
  margin: 0 auto;
  height: 100%;
}

.page-wrapper {
  height: max-content;
}
.page-wrapper .page-container {
  position: relative;
  background: #22252a;
  width: calc(100% - 200px);
  padding: 0;
}
.page-wrapper .page-container .page-header {
  padding: 30px 30px;
  background: #2d3035;
  color: #8a8d93;
  margin: 0 auto;
  border-bottom: 1px solid #34373d;
}
.page-wrapper .page-container .page-content .table-container {
  padding: 20px;
}
.page-wrapper .page-container .page-content .table-container .table {
  width: 100%;
  padding: 20px;
  background: #2d3035;
  color: #8a8d93;
  margin: 0 auto;
  border-radius: 5px;
}
.page-wrapper .page-container .page-content .table-container .table th {
  padding: 25px 20px;
  vertical-align: middle;
}
.page-wrapper .page-container .page-content .table-container .table td {
  padding: 20px;
}
.page-wrapper .page-container .page-content .table-container .table thead tr th {
  white-space: nowrap;
}
.page-wrapper .page-container .page-content .table-container .table thead tr th:first-child {
  width: 50px;
  text-align: start;
}
.page-wrapper .page-container .page-content .table-container .table thead tr th:nth-child(2) {
  text-align: start;
}
.page-wrapper .page-container .page-content .table-container .table thead tr th:nth-child(3) {
  text-align: start;
}
.page-wrapper .page-container .page-content .table-container .table thead tr th:last-child {
  text-align: end;
}
.page-wrapper .page-container .page-content .table-container .table tbody tr td {
  border-top: 1px solid #dee2e6;
}
.page-wrapper .page-container .page-content .table-container .table tbody tr td:first-child {
  width: 50px;
}
.page-wrapper .page-container .page-content .table-container .table tbody tr td:last-child {
  text-align: end;
}

.login-container {
  height: 100%;
  width: 100%;
  background: #2d3035;
}
.login-container h1 {
  color: #ffffff;
  font-size: 18px;
}

.settings {
  padding: 30px;
}
.settings .title {
  color: #bfc1c4;
}

.btn {
  padding: 7px 15px;
  border-radius: 5px;
  transition: all 0.3s;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-weight: 500;
  width: max-content;
}

.btn_red {
  color: #000000B0;
  background: #ff263d90;
}
.btn_red:hover {
  box-shadow: 0 0 10px #ff263d90;
  background: #ff263d;
  color: #ffffff;
}

.btn_green {
  color: #000000B0;
  background: #4FBF2690;
}
.btn_green:hover {
  box-shadow: 0 0 10px #4FBF2690;
  background: #4FBF26;
  color: #ffffff;
}

.btn_orange {
  color: #000000B0;
  background: #ffa50090;
}
.btn_orange:hover {
  box-shadow: 0 0 10px #ffa50090;
  background: #ffa500;
  color: #ffffff;
}

.form-edit label {
  width: 200px;
  color: #8a8d93;
}
.form-edit .input-edit {
  background: #2d3035;
  border: none;
  color: #bfc1c4;
  padding: 10px 20px;
  border-radius: 5px;
}

/*# sourceMappingURL=styles.css.map */
